<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right align-center" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">
    <img src="assets/images/brand.png" class="d-inline-block" alt=""> TripBook
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/countries">Countries</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li *ngIf="!authService.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/login">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          Sign In
        </a>
      </li>
      <li *ngIf="!authService.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/register">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          Sign Up
        </a>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/account">
          <i class="fa fa-user" aria-hidden="true"></i>
          Account
        </a>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/logout">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          Sign Out
        </a>
      </li>
    </ul>
  </div>
</nav>