.search {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

#collapseButton{
    margin-top: 1rem !important;
}

.card {
    margin-bottom: 1rem;
    padding: 0 !important;
    .card-title {
        font-size: 1.6rem;
        font-weight: bold;
        border-bottom-style: outset;
    }
    .card-text {
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card-rating{
        float: right;
    }
}