<div *ngIf="admin">
  <button class="btn btn-danger" (click)="deletePlace()">Delete place</button>
</div>

<p *ngIf="admin">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#edit" aria-expanded="false" aria-controls="edit">
    Edit place info
  </button>
</p>
<div class="collapse" id="edit">
  <form [formGroup]="editForm" class="form-inline" (ngSubmit)="editPlace(editForm.value)">
    <div class="form-group">
      <input type="text" value="{{place.name}}" formControlName="name" placeholder="Name" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" value="{{place.description}}" formControlName="description" placeholder="Description" class="form-control">
    </div>
    <div class="form-group">
      <input type="url" value="{{place.imageUrl}}" formControlName="imageUrl" placeholder="Image Url" class="form-control">
    </div>
    <div class="form-group">
      <input type="number" value="{{place.rating}}" formControlName="rating" placeholder="Rating" class="form-control">
    </div>
    <input type="submit" class="btn btn-secondary" value="Edit" [disabled]="!editForm.valid">
  </form>
</div>


<div class="container" style="margin-bottom: 100px;">
  <div class="row">
    <div class="content col-lg-8">
      <div>{{place.name}} </div>
      <div>{{place.description}}</div>
      <button (click)="addToFavourite()" *ngIf="authService.isLoggedIn()">
        <i *ngIf="!favourite" class="fa fa-star-o" aria-hidden="true"></i>
        <i *ngIf="favourite" class="fa fa-star" aria-hidden="true"></i>
      </button>
    </div>
    <div class="image col-lg-4">
      <img style="height: 20rem; width: 100%;" src="{{place.imageUrl}}">
    </div>
  </div>
</div>

<form [formGroup]="commentForm" class="form-inline" *ngIf="authService.isLoggedIn()" (ngSubmit)="addComment(commentForm.value)">
  <div class="form-group">
    <input type="text" formControlName="content" placeholder="Content" class="form-control">
  </div>
  <div class="form-group">
    <select class="form-control" formControlName="rating">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <input type="submit" class="btn btn-secondary" value="Add" [disabled]="!commentForm.valid">
</form>

<div class="row block">
  <div class="col-12">
    <div class="row justify-content-center">
      <h3>Comments</h3>
    </div>
    <div class="row">
      <ul class="list-group col-12">
        <li *ngFor="let comment of place.comments" class="list-group-item comment">
          <div class="row">
            <div class="col-2 comment-user-info mx-auto">
              <div class="row justify-content-center">
                <p class="text-center">
                  <strong>{{comment.id}}</strong>
                </p>
              </div>

            </div>
            <div class="col-10">
              {{comment.author}} {{comment.date | date:'full' }} {{comment.content}}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>